@import 'tailwindcss';
@import 'tw-animate-css';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './resto-rate-theme.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source '../../../node_modules/@skeletonlabs/skeleton-svelte/dist';

@custom-variant dark (&:where(.dark, .dark *));